<h1>Admin Log In</h1>

<%= session.delete(:flash) if session[:flash] %>

<div id="main-login-form">
  <%= form_for @login_form, url: {action: 'create'} do |form| %>

  <% if @login_form.errors.any? %>
    <div>
      <ul>
      <% @login_form.errors.each do |attribute, message| %>
        <li><%= message[:message] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="login-form-field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="login-form-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="login-submit">
    <%= form.submit "Log In", :id => 'login-submit' %>
  </div>

  <% end %>
</div>
