<h1>Greetings, Commissioner</h1>

<%= link_to "logout", '/admin/session', method: :delete %>

<h2>Current Leagues:</h2>

<div id="dashboard-league">
  <div class="league-column">
    <p><%= @league1.name %></p>
    <%= content_tag(:ul) do %>
      <% @league1.competitors.each do |competitor| %>
        <%= content_tag(:li, competitor.name) %>
        <% end %>
    <% end %>
    <%= button_to "Update #{@league1.name}", admin_league_path(@league1), method: :get %>
  </div>
  <div class="league-column">
    <p><%= @league2.name %></p>
    <%= content_tag(:ul) do %>
      <% @league2.competitors.each do |competitor| %>
        <%= content_tag(:li, competitor.name) %>
        <% end %>
    <% end %>
    <%= button_to "Update #{@league2.name}", admin_league_path(@league2), method: :get %>
  </div>
</div>

<div id="update-rounds">
  <h2>Rounds this season:</h2>
  <p id="rounds"><%= @league1.number_of_rounds %> rounds</p>
  <%= form_for admin_dashboard_path, method: :put do |form| %>
    <%= form.label :rounds %>
    <%= form.text_field :rounds, id: 'new-number-of-rounds' %>
    <%= form.submit "Update number of rounds" %>
  <% end %>
</div>
